div.pad {
    padding: 18px;
    border: 1px #CCC solid;
}

h4.page-title {
    font-size: 28px !important;
    padding: 20px 0 20px 10px;
    margin-bottom: 10px;
    background: #0058b5;
    width: 100%;
    color: #fff;
}

.col-3, .col-4, .col-6 {
    flex-grow: 1;
    flex-shrink: 1;
    transition: all 300ms ease;
}

/*.col-0 {*/
/*    width: 0;*/
/*    flex-shrink: 1;*/
/*    transition: all 400ms ease;*/
/*}*/